/* CSS declarations go here */
nav .nav-wrapper i{
  line-height:inherit;
  font-size: 3rem;
}

.questions {
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
  font-size: 30px;
}

.ansButtons {
  position:fixed;
  left:0;
  right:0;
  bottom:10%;
  height:20%;
  width:100%;
}

html {
  color: #FFF;
}

body {
  animation: pulse 55s infinite;
}

@keyframes pulse {
  0% {
    background-color: #1e88e5;
  }
  10% {
    background-color: #3949ab;
  }
  20% {
    background-color: #039be5;
  }
  30% {
    background-color: #00acc1;
  }
  40% {
    background-color: #00897b;
  }
  50% {
    background-color: #43a047;
  }
  50% {
    background-color: #33691e;
  }
  60% {
    background-color: #9e9d24;
  }
  70% {
    background-color: #e65100;
  }
  80% {
    background-color: #bf360c;
  }
  90% {
    background-color: #6d4c41;
  }
  100% {
    background-color: #616161;
  }
}
