<template name="mainLayout">
  {{> navbar}}
  <div class="container">
    <div class="row">
      <body class="ext4">
              {{> questions}}
      </body>
    </div>
  </div>
</template>
<template name="aboutLayout">
  {{> navbar}}
  <div class="container">
    <div class="row">
      <body class="ext4">
              {{> about}}
      </body>
    </div>
  </div>
</template>

<!-- Template for navigation bar -->
<template name="navbar">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper  blue-grey darken-4">
        <a href="/" class="brand-logo center"><img src="images/logo.png"></a>
        <ul class="right">
          <li><a href="/" id="reset"><i class="material-icons">refresh</i></a></li>
        </ul>
        <ul class="left">
          <li><a href="/about"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<!-- Following template is to display questions and reposnes -->
<template name="questions">
  {{#if nextQuestion.ansOne}}
    <div class="col s12 questions">
      <p>
         {{nextQuestion.question}}
      </p>
    </div>

    <div class="ansButtons">
      <a class="waves-effect waves-light btn col s12 btn-large blue-grey darken-4" id="Yes">{{nextQuestion.ansOne}} </a>
      <br> <br> <br>
      <a class="waves-effect waves-light btn col s12 btn-large blue-grey darken-4" id="No"> {{nextQuestion.ansTwo}} </a>
    </div>
  {{else}}
    <div class="col s12">
      {{#if nextQuestion.question}}
        <div class="card">
          <div class="card-image">
              <img src="images/{{nextQuestion.question}}.jpg">
          </div>
        </div>
        <center>{{> shareit}}</center>
      {{else}}
        <div class="center">
          <img src="images/240.png">
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>

<!-- Update your about page information below -->
<template name="about">
  <div class="col s12 questions">
    <p>
      Content Credits: silveroakcasino.com, Wikipedia
    </p>
    <p>
      Designed & developed by: pratiquish
    </p>
  </div>
</template>
<template name="register">
    {{> loginButtons}}
</template>
